<table style="width:100%; border:0" cellspacing="0" cellpadding="0" border="0" align="left|left|right">
  <tr style="border:0">
  <td style="border: 0; font-size:30px" rowspan="3"><b>Universität Bielefeld</b></td>
    <td style="border: 0">CITEC / Faculty of Technology</td>
    <td style="border: 0">Sekretariat: S. Strunk</td>
  </tr>
  <tr style="border:0">
    <td style="border: 0">Ambient Intelligence Group</td>
    <td style="border: 0" align="right">Office: CITEC-3.311</td>
  </tr>
  <tr style="border:0">
    <td style="border: 0">Dr. Thomas Hermann</td>
    <td style="border: 0">106-6891</td>
  </tr>
</table>

#### <center>Exercises of the lecture "Grundlagen Datamining"</center><br/> <center>WS 2018/2019 Excercise sheet 6</center>

# <center>- Clustering -</center>

### Problem 6.1, An example from research

To explore a room, the robot BIRON records it using a 3D camera. The data represents the room as many single points. An approach for the human to find relevant areas and objects within the room is to assume that they differ from the bottom plane and thus have a height above zero. If we look at the height of the filtered points and cluster them, we get a mapping of these areas.

You can find the data set <tt>points.dat</tt> in the e-Learning space (Lernraum) of the ekVV.

It includes 5 columns of which only the first 4 are interesting for us:

1. X-axis
2. Y-axis
3. Z-axis (height)
4. Validity (-1 = valid / 0 = invalid)

First filter out all the invalid points and all points below the bottom plane (Z<0). To reduce the data set even more you should only use every 20th entry in your further work. About 2000 points should remain.

Now cluster the remaining points. The height is not relevant anymore and can be assumed to be 0 to get points in a 2-dimensional room. Use the basic scheme of agglomerative clustering as presented in the lecture to cluster the data. Use the number of clusters as the termination condition. Try 5, 4 and 3 clusters.

Compare the resulting clusters that you get, if you use...

**a)** Single Linkage Clustering (SLC).

**b)** Complete Linkage Clustering (CLC).

<table style="width:100%; border:0;font-size:10px" cellspacing="0" cellpadding="0" border="0" align="left|left|right">
  <tr style="border:0">
    <td style="border: 0">Thomas Hermann (thermann@techfak)</td>
    <td style="border: 0">Lecture Wed 12-14, CITEC lecture hall</td>
    <td style="border: 0">office building</td>
    <td style="border: 0">public transportation</td>
  </tr>
  <tr style="border:0">
    <td style="border: 0">Ferdinand Schlatt (fschlatt@techfak)</td>
    <td style="border: 0">Tutorial Wed 08:30-10, U2-205</td>
    <td style="border: 0">Universität Bielefeld</td>
    <td style="border: 0">light rail 4</td>
  </tr>
  <tr style="border:0">
    <td style="border: 0"></td>
    <td style="border: 0"></td>
    <td style="border: 0">Universitätsstraße 25</td>
    <td style="border: 0">from Bahnhof and Jahnplatz</td>
  </tr>
  <tr style="border:0">
    <td style="border: 0"></td>
    <td style="border: 0"></td>
    <td style="border: 0">33615 Bielefeld</td>
    <td style="border: 0"></td>
  </tr>
</table>